<a href="https://colab.research.google.com/github/roselinedilani/KNN--USA-FORENSIC-SERVICE/blob/main/Task7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from scipy.spatial import distance

In [8]:
Training_sample = pd.read_csv("/content/trainKNN.txt",header = None)
Training_sample

      0        1      2     3     4      5     6     7     8    9   10
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0   1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0   1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0   1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0   1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0   1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...  ..
191  207  1.51645  14.94  0.00  1.87  73.11  0.00  8.67  1.38  0.0   7
192  208  1.51831  14.39  0.00  1.82  72.86  1.41  6.47  2.88  0.0   7
193  209  1.51640  14.37  0.00  2.74  72.85  0.00  9.45  0.54  0.0   7
194  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0   7
195  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0   7

[196 rows x 11 columns]

In [9]:
new_sample_train = pd.DataFrame(Training_sample)
new_sample_train

      0        1      2     3     4      5     6     7     8    9   10
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0   1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0   1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0   1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0   1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0   1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...  ..
191  207  1.51645  14.94  0.00  1.87  73.11  0.00  8.67  1.38  0.0   7
192  208  1.51831  14.39  0.00  1.82  72.86  1.41  6.47  2.88  0.0   7
193  209  1.51640  14.37  0.00  2.74  72.85  0.00  9.45  0.54  0.0   7
194  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0   7
195  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0   7

[196 rows x 11 columns]

In [10]:
new_sample_train.columns = ['ID', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type of glass']
new_sample_train

,ID,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
191,207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.0,7
192,208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.0,7
193,209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.0,7
194,210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.0,7
195,211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.0,7

In [11]:
new_sample_train  = new_sample_train.drop('ID',axis =1)
new_sample_train

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type of glass
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0              1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0              1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0              1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0              1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0              1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...            ...
191  1.51645  14.94  0.00  1.87  73.11  0.00  8.67  1.38  0.0              7
192  1.51831  14.39  0.00  1.82  72.86  1.41  6.47  2.88  0.0              7
193  1.51640  14.37  0.00  2.74  72.85  0.00  9.45  0.54  0.0              7
194  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0              7
195  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0              7

[196 rows x 10 columns]

In [12]:
test_sample = pd.read_csv("/content/testKNN.txt",header = None)
test_sample

     0        1      2     3     4      5     6      7     8     9   10
0    68  1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.00  0.17   1
1    69  1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.00  0.16   1
2    70  1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.00  0.03   1
3   144  1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.00  0.00   2
4   145  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.00  0.24   2
5   146  1.51839  12.85  3.67  1.24  72.57  0.62   8.68  0.00  0.35   2
6   161  1.51832  13.33  3.34  1.54  72.14  0.56   8.99  0.00  0.00   3
7   162  1.51934  13.64  3.54  0.75  72.65  0.16   8.89  0.15  0.24   3
8   163  1.52211  14.19  3.78  0.91  71.36  0.23   9.14  0.00  0.37   3
9   174  1.52043  13.38  0.00  1.40  72.25  0.33  12.50  0.00  0.00   5
10  175  1.52058  12.85  1.61  2.17  72.18  0.76   9.70  0.24  0.51   5
11  176  1.52119  12.97  0.33  1.51  73.39  0.13  11.27  0.00  0.28   5
12  183  1.51916  14.15  0.00  2.09  72.74  0.00  10.88  0.00  0.00   6
13  184  1.51969  14.56  0.00  0.56  73.48  0.00  11.22  0.00  0.00   6
14  185  1.51115  17.38  0.00  0.34  75.41  0.00   6.65  0.00  0.00   6
15  212  1.52065  14.36  0.00  2.02  73.42  0.00   8.44  1.64  0.00   7
16  213  1.51651  14.38  0.00  1.94  73.61  0.00   8.48  1.57  0.00   7
17  214  1.51711  14.23  0.00  2.08  73.36  0.00   8.62  1.67  0.00   7

In [13]:
new_test_sample = pd.DataFrame(test_sample)
new_test_sample

     0        1      2     3     4      5     6      7     8     9   10
0    68  1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.00  0.17   1
1    69  1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.00  0.16   1
2    70  1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.00  0.03   1
3   144  1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.00  0.00   2
4   145  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.00  0.24   2
5   146  1.51839  12.85  3.67  1.24  72.57  0.62   8.68  0.00  0.35   2
6   161  1.51832  13.33  3.34  1.54  72.14  0.56   8.99  0.00  0.00   3
7   162  1.51934  13.64  3.54  0.75  72.65  0.16   8.89  0.15  0.24   3
8   163  1.52211  14.19  3.78  0.91  71.36  0.23   9.14  0.00  0.37   3
9   174  1.52043  13.38  0.00  1.40  72.25  0.33  12.50  0.00  0.00   5
10  175  1.52058  12.85  1.61  2.17  72.18  0.76   9.70  0.24  0.51   5
11  176  1.52119  12.97  0.33  1.51  73.39  0.13  11.27  0.00  0.28   5
12  183  1.51916  14.15  0.00  2.09  72.74  0.00  10.88  0.00  0.00   6
13  184  1.51969  14.56  0.00  0.56  73.48  0.00  11.22  0.00  0.00   6
14  185  1.51115  17.38  0.00  0.34  75.41  0.00   6.65  0.00  0.00   6
15  212  1.52065  14.36  0.00  2.02  73.42  0.00   8.44  1.64  0.00   7
16  213  1.51651  14.38  0.00  1.94  73.61  0.00   8.48  1.57  0.00   7
17  214  1.51711  14.23  0.00  2.08  73.36  0.00   8.62  1.67  0.00   7

In [14]:
new_test_sample.columns = ['ID', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type of glass']
new_test_sample

,ID,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
0,68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1
1,69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1
2,70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1
3,144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2
4,145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2
5,146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2
6,161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3
7,162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3
8,163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3
9,174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5
10,175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5
11,176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5
12,183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6
13,184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6
14,185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6
15,212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7
16,213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7
17,214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7

In [15]:
new_test_sample = new_test_sample.drop("ID" , axis = 1)
new_test_sample

         RI     Na    Mg    Al     Si     K     Ca    Ba    Fe  Type of glass
0   1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.00  0.17              1
1   1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.00  0.16              1
2   1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.00  0.03              1
3   1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.00  0.00              2
4   1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.00  0.24              2
5   1.51839  12.85  3.67  1.24  72.57  0.62   8.68  0.00  0.35              2
6   1.51832  13.33  3.34  1.54  72.14  0.56   8.99  0.00  0.00              3
7   1.51934  13.64  3.54  0.75  72.65  0.16   8.89  0.15  0.24              3
8   1.52211  14.19  3.78  0.91  71.36  0.23   9.14  0.00  0.37              3
9   1.52043  13.38  0.00  1.40  72.25  0.33  12.50  0.00  0.00              5
10  1.52058  12.85  1.61  2.17  72.18  0.76   9.70  0.24  0.51              5
11  1.52119  12.97  0.33  1.51  73.39  0.13  11.27  0.00  0.28              5
12  1.51916  14.15  0.00  2.09  72.74  0.00  10.88  0.00  0.00              6
13  1.51969  14.56  0.00  0.56  73.48  0.00  11.22  0.00  0.00              6
14  1.51115  17.38  0.00  0.34  75.41  0.00   6.65  0.00  0.00              6
15  1.52065  14.36  0.00  2.02  73.42  0.00   8.44  1.64  0.00              7
16  1.51651  14.38  0.00  1.94  73.61  0.00   8.48  1.57  0.00              7
17  1.51711  14.23  0.00  2.08  73.36  0.00   8.62  1.67  0.00              7

In [16]:
new_sample_train.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type of glass
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0              1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0              1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0              1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0              1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0              1

In [17]:
new_test_sample.head()

        RI     Na    Mg    Al     Si     K     Ca   Ba    Fe  Type of glass
0  1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.0  0.17              1
1  1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.0  0.16              1
2  1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.0  0.03              1
3  1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.0  0.00              2
4  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.0  0.24              2

In [18]:
new_sample_train.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
count,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000
mean,1.518295,13.375204,2.758980,1.454337,72.635408,0.519388,8.910714,0.164235,0.050255,2.668367
std,0.003055,0.783145,1.392641,0.491688,0.763578,0.672703,1.421490,0.485198,0.086359,2.062416
min,1.511310,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516458,12.877500,2.362500,1.190000,72.317500,0.140000,8.220000,0.000000,0.000000,1.000000
50%,1.517630,13.280000,3.480000,1.360000,72.810000,0.560000,8.575000,0.000000,0.000000,2.000000
75%,1.518985,13.792500,3.610000,1.622500,73.080000,0.610000,9.092500,0.000000,0.090000,3.000000
max,1.533930,15.790000,4.490000,3.500000,75.180000,6.210000,16.190000,3.150000,0.340000,7.000000

In [19]:
new_test_sample.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,1.519131,13.763333,1.873889,1.342222,72.820000,0.253889,9.460556,0.292778,0.130556,4.000000
std,0.002791,1.083491,1.749753,0.581312,0.892004,0.265133,1.380432,0.617422,0.164798,2.222876
min,1.511150,12.850000,0.000000,0.340000,71.360000,0.000000,6.650000,0.000000,0.000000,1.000000
25%,1.517412,13.012500,0.000000,0.877500,72.212500,0.000000,8.635000,0.000000,0.000000,2.000000
50%,1.519515,13.355000,2.395000,1.320000,72.685000,0.175000,9.065000,0.000000,0.015000,4.000000
75%,1.521055,14.220000,3.570000,1.902500,73.382500,0.502500,10.090000,0.112500,0.240000,6.000000
max,1.523000,17.380000,3.780000,2.170000,75.410000,0.760000,12.500000,1.670000,0.510000,7.000000

In [20]:
def standardize_data (df):
    for col in df.columns:
        if col != "Type of glass": 
            df[col] = (df[col] - df[col].mean())/df[col].std()
    return df

new_sample_train = standardize_data(new_sample_train)
new_test_sample = standardize_data(new_test_sample )

In [21]:
new_sample_train.head()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
0,0.888537,0.338119,1.242977,-0.720654,-1.120263,-0.682898,-0.113060,-0.33849,-0.581932,1
1,-0.224221,0.657345,0.603903,-0.191863,0.123880,-0.058551,-0.760269,-0.33849,-0.581932,1
2,-0.692234,0.197659,0.568000,0.174223,0.464382,-0.192340,-0.795443,-0.33849,-0.581932,1
3,-0.207857,-0.210950,0.668529,-0.334230,-0.033275,0.075237,-0.485909,-0.33849,-0.581932,1
4,-0.286405,-0.134335,0.618265,-0.435920,0.582248,0.045506,-0.591432,-0.33849,-0.581932,1

In [22]:
new_test_sample.head()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
0,0.856076,-0.658366,1.015064,-0.812338,-0.560536,-0.240969,0.282118,-0.474194,0.239350,1
1,0.856076,-0.593760,0.975058,-0.760731,-0.695064,-0.090101,0.260385,-0.474194,0.178670,1
2,1.386446,-0.418401,0.975058,-0.898350,-0.930489,-0.504987,0.513929,-0.474194,-0.610173,1
3,-0.731448,-0.704513,0.912192,0.770288,-0.112107,1.531723,-0.927648,-0.474194,-0.792214,2
4,-0.907043,-0.713742,0.746454,-0.193050,0.168161,1.229989,-0.471269,-0.474194,0.664111,2

In [23]:
euclid_model = KNeighborsClassifier(n_neighbors=8, metric=distance.sqeuclidean) 
manhattan_model = KNeighborsClassifier(n_neighbors=8, metric=distance.cityblock) 
x_train = new_sample_train.drop(["Type of glass"], axis=1)
y_train = new_sample_train["Type of glass"]
euclid_model.fit(x_train,y_train) 
manhattan_model.fit(x_train, y_train)
x_test = new_test_sample.drop("Type of glass", axis=1) 
y_test = new_test_sample["Type of glass"]

In [24]:
# Make predictions
manhattan_predictions = manhattan_model.predict(x_test)
euclid_predictions = euclid_model.predict(x_test) 
df = pd.DataFrame({'actual': y_test, 'manhattan': manhattan_predictions, 'euclid': euclid_predictions})
df.head()

   actual  manhattan  euclid
0       1          1       1
1       1          1       1
2       1          1       1
3       2          2       2
4       2          1       1

In [25]:
manhattan_count = len(df.loc[df['manhattan'] == df['actual']])
euclid_count = len(df.loc[df['euclid'] == df['actual']])
print('Manhattan Accuracy: {}%'.format(round(100*manhattan_count/len(df), 2)))
print(classification_report(y_test, manhattan_predictions, target_names=df['actual'].astype(str).unique()))
print ('\n')
print('Square Euclidean Accuracy: {}%'.format(round(100*euclid_count/len(df), 2)))
print(classification_report(y_test, euclid_predictions, target_names=df['actual'].astype(str).unique()))

Manhattan Accuracy: 66.67%
              precision    recall  f1-score   support

           1       0.50      1.00      0.67         3
           2       0.25      0.33      0.29         3
           3       0.00      0.00      0.00         3
           5       1.00      0.67      0.80         3
           6       1.00      1.00      1.00         3
           7       1.00      1.00      1.00         3

    accuracy                           0.67        18
   macro avg       0.62      0.67      0.63        18
weighted avg       0.62      0.67      0.63        18



Square Euclidean Accuracy: 61.11%
              precision    recall  f1-score   support

           1       0.60      1.00      0.75         3
           2       0.33      0.67      0.44         3
           3       0.00      0.00      0.00         3
           5       1.00      0.67      0.80         3
           6       1.00      0.33      0.50         3
           7       0.75      1.00      0.86         3

    accuracy                           0.61        18
   macro avg       0.61      0.61      0.56        18
weighted avg       0.61      0.61      0.56        18

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))